[2015-05-14 20:24] andri opened #1 "Design: Piratar.is site map"
This is the site map for the new piratar.is site. The map has been developed using research done by Halla Kolbeinsdóttir. This will serve as the base and reference for the new site. All features and templates should be derived from it. If there is stuff that is not defined in the map, please leave a comment or add it the the Google doc.

https://docs.google.com/document/d/1J92EyHPzsFPUzOj98wxjLaiw

[2015-05-14 20:31] andri opened #2 "Front page: How to participate"
A section that helps users to quickly find how they can participate in the party, sign up as a member, join policy groups and so on. The current web site has something similar.

[2015-05-14 20:39] andri opened #3 "Front page: Word definitions"
Word definition section that will look to explain common words from the Pirate Party base policy and other words from the Pirate Party universe. A list of words and its definition. On the front page we could display one at a time selected by random.

[2015-05-14 20:45] andri opened #4 "Front page: Calendar events"
The front page should display upcoming event hosted by the Pirate Party. I think a simple list would be the best solution, no need for a complicated calendar like view.

The question is more how we would input the event into WordPress. If they should be hosted on Facebook and imported from there or if Pirate Party site should be the primary place to store the events. I think using Facebook would b

[2015-05-19 12:46] andri commented on #1
Moved to readme.

[2015-05-19 12:46] #1 closed, assigned to nobody

[2015-06-02 21:45] andri opened #5 "Front page: News/activity feed"
Display news and blog posts in one unified feed with the possibility of displaying one or more items pinned to the top.

[2015-06-04 16:41] andri opened #6 "Style guide"
Design and create a simple design guide for the site.

[2015-06-04 16:54] andri opened #7 "Template: Pirates at Alþingi"
A page for Pirates at Alþingi including list of parliamentary bills, proposals and inquiries. A list of our parliamentarians linking to their individual profile pages.
- Nice to have: Make custom fields/post types for inquiries. See "Fyrirspurnir frá þingflokki" page.

[2015-06-04 16:59] andri opened #8 "Template: News"
One news page displaying all the news and blogs from all sources related to the Pirate Party with filters or ability to see only news from certain categories or member groups.

[2015-06-04 17:07] andri opened #9 "Feature: Groups and member associations"
We need to be able to create groups on the site for various purposes.

There are a few main use cases here:
- Member associations (Aðilarfélög) should have their own section on the site, almost like mini-sites within the main site displaying news, meetings etc for the associations.
- Working groups (Málefnahópar) should also have their place where they can organize, post news and information about

[2015-06-04 17:30] andri opened #10 "Template: Pirateparty/Participate"
A page that outlines all they ways you can join and/or help the party.
- How to participate/FAQ
- Learn how pirates work and collaborate
- Donate
- Join as member
- Working groups (málefnastarf)
- Pirate school / Learn to be a pirate
- Public events

See site map for more details.

[2015-06-04 17:59] andri opened #11 "Feature: People"
- List of people that work for or represent the party.
- Should include contact information, name and position as a category.

Can be used on the group and member pages as well as on the Píratar á Þingi page.

[2015-06-04 18:00] andri opened #12 "Feature: Election mode"
In elections, we need a feature that displays a banner on the front page with a CTA button to the election landing page, depending on if its a local or parliamentary elections.

[2015-07-13 20:58] andri opened #13 "Front page: Active and past votes/elections from Wasa2il"
A section that shows the last X open votes and/or open elections from the Wasa2il system. Should also include a link to the front page of x.piratar.is

[2015-07-13 21:05] andri opened #14 "Front page: Pictures, lots of pictures!"
A large section with Instagram photos and a large Facebook Like-box with the profile pictures of people who like the PP on FB.

[2015-07-13 21:07] andri opened #15 "Feature: Footer"
Design and build a new footer, see the sitemap doc for more information.

[2015-07-13 21:08] andri opened #16 "Template: Page and single post"
The templates for a content pages and single posts.

[2015-07-13 21:12] andri opened #17 "Feature: Search"
Add search to the main menu and design and build the search results page.

[2015-09-24 17:28] andri opened #18 "Feature: Breadcrumbs"

[2015-09-24 17:35] andri opened #19 "Feature: Navigation"
- Each page has to have a description
- Landing pages should display a list/grid of child pages if any.
- The site has two navigation lists. The main nav and then the burger menu that should include the full site tree.

[2015-09-24 18:53] andri opened #20 "Feature: Events"
Find a good solution for events. Best solution, IMO, would be to have all the events in WP but also pull them from Facebook when ever we can.
- Global Pirate events on front-page
- Member associations (Aðildarfélög) can have events
- Pull events from all the Pirate Party Facebook pages and save them as a custom post type in WP.
- Make it possible to add events directly in WP using custom posts typ

[2015-09-25 09:00] bjornlevi opened #21 "Header: Become a member"
The header needs a "Taka þátt", "Ganga í flokkinn" or something similar. See other political party pages for examples.

[2015-09-27 16:20] hallakol commented on #21
We are yet to update descriptions and attach wireframes to issues.

[2015-09-28 09:48] bjornlevi commented on #21
missing feature request feature here --- so whenever applicable :)

[2015-11-21 14:41] andri commented on #20
In general, WordPress allows us to create both custom posts types (events) and custom fields (event name, date etc) and the ability to connect these together. A good plugin for creating custom fields is Advanced Custom Fields and for creating Custom Post Type UI for creating custom post types.

[2015-12-05 12:01] andri commented on #20
@jonragnarsson has created the base for importing events from Facebook.

A few things:
- Use the WordPress database class and store the events as a custom post type and custom fields for the event specific data.
- Add the ability to import events from multiple sources or Facebook pages and/or groups.

[2016-01-19 18:17] maranomynet commented on #6
Hönnunarhópur er alveg að verða búinn með þessa vinnu.

[2016-01-19 18:25] OlgaCilia commented on #6
nice!

[2016-01-19 18:29] maranomynet opened #22 "Hanna fyrstu drög að útliti"
Það má byrja á þessu áður en Style Guide er kominn í 100% endanlegt form.
Við vitum megin drætti Styleguidesins og getum byrjað mockup vinnuna a.m.k. – svo hægt sé að byrja vefnun.

[2016-01-19 18:34] maranomynet opened #23 "Design/Page Elements Checklist"
Todolisti fyrir útlitshönnun síðunnar:
- [ ] Header: Become a member
  - The header needs a "Taka þátt", "Ganga í flokkinn" or something similar. See other political party pages for examples.
- [ ] Breadcrumbs
- [ ] Search field
- [ ] Search results
- [ ] Event listi
- [ ] Calendar events
  - The front page should display upcoming event hosted by the Pirate Party. I think a simple list would be th

[2016-01-19 18:46] maranomynet commented on #23
Ég henti upp þessum lista og loka í leiðinni fullt af "minnispunkta" issues.

[2016-01-19 18:47] #2 closed, assigned to nobody

[2016-01-19 18:47] #3 closed, assigned to nobody

[2016-01-19 18:47] #4 closed, assigned to nobody

[2016-01-19 18:47] #5 closed, assigned to nobody

[2016-01-19 18:47] #7 closed, assigned to nobody

[2016-01-19 18:47] #8 closed, assigned to nobody

[2016-01-19 18:47] #19 closed, assigned to nobody

[2016-01-19 18:48] #21 closed, assigned to nobody

[2016-01-19 18:49] #18 closed, assigned to nobody

[2016-01-19 18:49] #17 closed, assigned to nobody

[2016-01-19 18:50] #16 closed, assigned to nobody

[2016-01-19 18:50] #15 closed, assigned to nobody

[2016-01-19 18:50] #14 closed, assigned to nobody

[2016-01-19 18:51] #13 closed, assigned to nobody

[2016-01-19 18:52] #12 closed, assigned to nobody

[2016-01-19 18:52] #11 closed, assigned to nobody

[2016-01-19 18:53] #10 closed, assigned to nobody

[2016-01-23 13:42] davidhalldor opened #24 "Integrate task builder like grunt or gulp for minifying javascript and css."
Work in progress.

[2016-01-23 13:44] davidhalldor opened #25 "Get ssh access to current production environment"
Been talking to Björn and Helgi Hrafn about the ssh access to take a look at the current and future production environment.

[2016-01-24 23:28] maranomynet commented on #24
Having used both Grunt and Gulp, I strongly recommend not using Grunt. Its supposed simplicity very quickly results in annoying complexity and inflexibility.

[2016-01-24 23:32] maranomynet commented on #24
BTW, Arnór and/or whoever will write the JavaScript and CSS will surely wish to handle minification, linting, transpiling, stylus-compilation, autoprefixing, and other tasks themselves anyway - so I'm uncertain if setting this up as a separate/standalone task makes as much sense as it might initially seem.

[2016-02-01 23:48] arnorb commented on #6
Er eitthvað að frétta af þessu? @hallakol

[2016-02-01 23:53] arnorb commented on #22
@andri varst þú eitthvað kominn af stað í þessu? ég get farið í þessa vinnu núna af einhverjum krafti.

[2016-02-02 10:03] andri commented on #22
Hérna er sú hönnun sem ég var byrjaður að gera. Þetta er ekkert merkilegt, þú mátt nota þetta sem grunn eða bara henda þessu í ruslið og byrja uppá nú nýtt :) Þarna er ég að nota Source Sans.

![piratar-01](https://cloud.githubusercontent.com/assets/123914/12745930/eef2625e-c993-11e5-825b-0e7f09f0872a.png)

Sketch fæll.

[piratar-web-0.1.zip](https://github.com/piratar/piratar.is/files/113697/pira

[2016-02-02 10:12] andri commented on #22
@arnorb, pælingin hjá mér var að gera eitthvað sem væru sem næst flat en nota smá skugga fyrir valmyndir og slíkt. Kannski takka. Valmyndin væri þarna til hægri og alltaf visible nema á small desktop og niður.

[2016-02-02 10:23] andri commented on #22
Svo er hérna pæling varðandi valmyndina. Hún myndi opnast nánast full-screen nema skilja eftir smá rönd þarna til vinstri til að loka.

![piratar-01-menu](https://cloud.githubusercontent.com/assets/123914/12746530/0918777e-c997-11e5-8cf9-f5eb9f4a464e.png)

[2016-02-05 13:19] arnorb commented on #22
Takk fyrir þetta @andri , ég ætla að skoða þetta.

[2016-02-06 13:07] arnorb commented on #6
Ég ræddi þetta aðeins við Höllu í gær og style guide er á leiðinni, vonandi sem fyrst.

[2016-02-06 16:28] hallakol commented on #6
Eta 1 1/2 vika _krossar putta_

Kv,
Halla
771 4321

[2016-02-08 22:03] andri opened #26 "Add Twitter Bootstrap to theme"

[2016-02-08 22:03] #26 closed, assigned to nykka

[2016-04-26 16:00] BergthorTh commented on #9
Wouldn't the "multisite" feature be the most efficient and prudent way of achieving this goal. That way admin and editor rights can be better managed. There would be one main site and each chapter would get a childsite. That way each group would be responsible for maintaining their own site with help and guidance from superusers. This would limit the number of people with admin and/or editor right

[2016-05-10 23:45] #22 closed, assigned to nobody

[2016-05-10 23:50] hallakol commented on #6
Styleguide er kominn inn á vef Pírata, hannaður af Arnóri.

[2016-05-10 23:50] #6 closed, assigned to andri

[2016-08-06 12:06] busla opened #27 "Viewport issue in mobile"
Device: iPhone 6+
Browser: Safari

![image1](https://cloud.githubusercontent.com/assets/3162968/17456634/ec440c1e-5bde-11e6-99b2-93ef9cdac150.PNG)

![image1](https://cloud.githubusercontent.com/assets/3162968/17456636/f3f8816a-5bde-11e6-804b-de876b31df8f.PNG)

[2016-08-07 20:04] baldurjonsson commented on #27
Appears there's no media query for mobile dismissing the whitespace on news.

The css: `width: calc(100% - 360px);`

[2016-08-08 19:09] busla opened #29 "Broken URL"
http://piratar.is/kosningar/profkjor-althingiskosningar/profkjor-sudur/

![screen shot 2016-08-08 at 21 08 11](https://cloud.githubusercontent.com/assets/3162968/17492511/65b24740-5dac-11e6-9a34-f8d59b7dbaf0.png)

[2016-08-08 19:16] busla commented on #29
Fann svo frambjóðendasíðuna annar staðar og hún virkaði.

Fór á þessa síðu héðan:
![screen shot 2016-08-08 at 21 13 32](https://cloud.githubusercontent.com/assets/3162968/17492698/3aecc098-5dad-11e6-8934-d0e30584232c.png)

Sem leiddi mig hingað:
![screen shot 2016-08-08 at 21 14 17](https://cloud.githubusercontent.com/assets/3162968/17492714/4bf33bec-5dad-11e6-9444-a62e8ed79234.png)

[2016-08-08 19:35] busla opened #30 "Kosningavefur <> Aðalvefur"
Mér langar að koma með tillögu um að það sé gefin einhver ábending um að ég sé á kosningavefnum, hvort sem það sé annar litur í nav, annað layout í main eða eitthvað slíkt.

Ég átta mig ekki á því að ég sé á öðrum vef (með öðrum nav) því vefirnir eru að nota sömu templates.

[2016-08-08 19:36] busla commented on #30
Setja "KOSNINGAVEFUR 2016" í header?

[2016-08-08 19:38] busla commented on #30
Color inverse á allri síðunni jafnvel?

[2016-08-12 19:27] viktorsmari opened #31 "Burger menu does not toggle"
Header overlays menu
![screenshot_2016-08-12-21-21-57](https://cloud.githubusercontent.com/assets/1689020/17634477/1539a59a-60d3-11e6-97d3-44bc2d393f6a.png)

The menu has been moved down, but the toggling is still an issue

[2016-08-23 17:39] viktorsmari opened #35 "Linkar sjást mjög illa."
Þetta er auðvitað mismunandi eftir skjám en linkarnir okkar sjást mjög illa.

Ég er gamaldags og vil helst hafa undirstrik þar sem hægt er að smella á linka, amk sjáanlegan lit.
Er einhver hönnuður hérna sem hefur álit á þessu?

Það sést illa á þessari mynd en "Ungir Píratar" er t.d. linkur.

![img_20160823_191551](https://cloud.githubusercontent.com/assets/1689020/17902763/e93f25ca-6968-11e6-819c

[2016-08-24 09:55] arnorb commented on #35
Vefurinn var upprunalega hannaður með undirstriki á linkunum. Ekki spurning að bæta því við.

[2016-08-24 15:27] viktorsmari commented on #35
Snilld, var að commita þessu!

[2016-08-24 15:28] #35 closed, assigned to nobody

[2016-08-25 14:01] hallakol commented on #29
This issue is now moot as the /kosningar website is changing to take on a different role. Structure along with all links in the megamenu are being updated.

[2016-08-25 14:01] #29 closed, assigned to nobody

[2016-08-25 14:03] hallakol commented on #30
Þurfum að fá inn fyrirsögn á bannerana á forsíðunni fyrir akkúrat þetta.

[2016-08-25 17:40] thorlaug opened #36 "Publish Fundargerðir category Þingflokkur on page Þingflokkur > Fundargerðir"
Fundargerðir system contains new categories that need to be published on relevant sub-pages
Fundargerðir í nýjum flokkum í fundargerðakerfinu þurfa að birtast á viðeigandi undirsíðu

Framkvæmdaráð (fyrirmyndin)
hér er verið að birta fundargerðir framkvæmdaráðs
http://piratar.is/um-pirata/bokhald-og-rekstur/fundargerdir/
Category Fundargerðir > Framkvæmdaráð

Þingflokkur
Handvirkt birt hérna: http:

[2016-08-25 17:59] thorlaug opened #37 "HIGH Priority - Connect respective news categories to aðildarfélög pages"
This page does not display the news from the Píratar í Hafnarfirði category on this page:
http://piratar.is/hafnarfjordur/

Kópavogur,
news from the category Píratar í Kópavogi are not published on the Kópavogur page
http://piratar.is/kopavogur/

Seltjarnarnes,
same problem, connect to Píratar á Seltjarnarnesi category
http://piratar.is/seltjarnarnes/

Suðurnes
same problem, connect to Píratar á S

[2016-08-25 18:49] thorlaug opened #38 "List posts from category Úrskurðir on the page Úrskurðarnefnd"
Please add (preferably a simple list) of news from the category Úrskurðir on the page Úrskurðarnefnd, above list of Úrskurðir (or plan b link to news sub-page that published news from úrskurðir, we do not expect a lot of news in this category.
http://piratar.is/um-pirata/log-og-reglur/urskurdarnefnd/

[2016-08-25 19:04] thorlaug commented on #37
Here the aðildarfélag page works perfectly http://piratar.is/piratar-60/
(but is missing some content on my end)

[2016-08-25 22:05] thorlaug commented on #37
Píratar á Suðurnesjum pulls stjórn from Suðurnes. The page does not publish the laws for Suðurnes either but they are in the Lög Pírata system.

[2016-08-25 22:24] thorlaug opened #39 "Shorten excerpt for Flokksfólk on aðildarfélag page"
On the aðildarfélag pages the chairperson gets a big image and a teaser text that's pulled from the Flokksfólk system. The preview needs to pull a certain number of characters so the look stays within borders.
Example of an intro that's too long and messes up the look of the aðildarfélag page
http://piratar.is/adildarfelog/sudvesturkjordaemi/

[2016-08-25 22:25] thorlaug commented on #39
another example of the too long text intro http://piratar.is/vesturland/

[2016-08-25 22:35] thorlaug opened #40 "Fyrirspurnir til ráðherra page"
http://piratar.is/piratar-a-thingi/fyrirspurnir-til-radherra/

This page is manually updated now with links to pages on althingi.is, this page should publish content from Fyrirspurnir system http://piratar.is/wp-admin/edit.php?post_type=radherrafyrirspurnir

[2016-08-25 22:41] thorlaug opened #41 "Fix typo in Aðildarfélög subsection"
Fréttir frá aðildafélagi should say Fréttir frá aðildarfélagi

Here an example on an aðildarfélag page
http://piratar.is/adildarfelog/vesturland/

[2016-08-25 23:08] thorlaug opened #42 "display numbered lists, add ol look to css"
numbered bullets <ol> aren't displayed on the web, see laws here for aðildarfélag, list code is fine but front-end look on this page doesn't display any numbers.

http://piratar.is/log-pirata/log-pirata-a-austurlandi/

[2016-08-25 23:50] arnorb commented on #42
To clarify: The problem is (or seems to be) that there needs to be a definition for multiple levels of ordered lists. So the first level is fine (the purple headings) but their children are not.

[2016-08-26 00:02] #25 closed, assigned to davidhalldor

[2016-08-26 00:02] #9 closed, assigned to nobody

[2016-08-26 00:04] #27 closed, assigned to nobody

[2016-08-26 00:05] #24 closed, assigned to davidhalldor

[2016-08-26 05:36] viktorsmari commented on #31
The menu has been moved down, but the toggling is still an issue

[2016-08-26 07:43] arnorb opened #43 "Make single item heading text white"
Það vantar allan contrast sjá t.d. http://piratar.is/frettir/frettir/stadfestingakosning-frambodslista-na-kjordaemis/

[2016-08-26 13:22] thorlaug opened #44 "Remove upper case letters in headlines & 'more' linke"
<img width="374" alt="screen shot 2016-08-26 at 13 26 56" src="https://cloud.githubusercontent.com/assets/5758526/18006626/f1999696-6b8f-11e6-812a-840a2f1e9a00.png">
Remove high-case from CSS for news on frontpage
We don't use High-Case anymore on piratar.i, please remove high-case from the style sheet. See above for news on frontpage.

[2016-08-26 13:48] andri commented on #43
Vorum einmitt að skoða þetta mál. Ég skal taka þetta.

[2016-08-26 21:32] thorlaug commented on #40
Comment from Halla on the issue
<img width="240" alt="screen shot 2016-08-26 at 21 38 07" src="https://cloud.githubusercontent.com/assets/5758526/18021096/9ab20cb0-6bd4-11e6-93d5-208e0dfa4b0e.png">

[2016-08-26 22:46] thorlaug opened #45 "Contact form / Hafa samband options"
Mailto form on this page
http://piratar.is/um-pirata/hafa-samband/

Efni: add to drop-down options

Almenn fyrirspurn*
Skráning í Pírata\*
Bóka Tortuga (mailto: tortuga@piratar.is)
Framkvæmdaráð (mailto: framkvaemdarad@piratar.is)

*Current options

[2016-08-28 18:51] NoiKristinsson opened #46 "Header on mobile site"
When opening the menu on the frontpage in mobile view the header blocks the top three links.

[2016-08-29 10:53] baldurjonsson commented on #46
Also mentioned in #31

[2016-08-29 16:12] arnorb commented on #46
This has actually been fixed in source ( see #31 ) but the site hasn't been updated to reflect the changes.

[2016-08-29 16:24] viktorsmari commented on #46
Half of the problem should be uploaded now on live server. Renamed the issue to target the second problem.

[2016-08-29 16:28] #46 closed, assigned to nobody

[2016-08-29 22:09] arnorb commented on #41
Fixed in #47

[2016-08-29 22:09] #41 closed, assigned to nobody

[2016-08-29 22:10] arnorb commented on #45
This is probably done through the settings in the Contact Form 7 plugin and has do be done by someone with admin access to the live site.

[2016-08-29 22:15] arnorb commented on #44
Fixed in #48

[2016-08-29 22:31] arnorb opened #49 "Change the paragraph font to Merriweather"
It should be 18px with a line-height of 32px.

[2016-08-30 15:36] arnorb commented on #44
I accidentally put everything in lowercase instead without realizing, was a bit sleepy.

[2016-08-30 17:44] viktorsmari commented on #44
Fixed

[2016-08-30 17:44] #44 closed, assigned to nobody

[2016-08-30 18:28] viktorsmari commented on #39
@thorlaug Check if this is resolved :dancers:

[2016-08-31 08:33] thorlaug commented on #39
Wuuuunderbar!

[2016-08-31 08:33] #39 closed, assigned to nobody

[2016-08-31 08:51] thorlaug opened #50 "Viðburðir/Calendar plugin"
Upgrade/update the Viðburðir calendar system

We've gotten a go-ahead to buy the WP calendar plugin that Arnar Valur recommended.

A LOt of Pirate meetings are weekly events. This plugin allows editors to hit 'repeats weekly' and other labor saving options.

[2016-08-31 08:53] thorlaug opened #51 "Píratar í fjölmiðlum news"
Píratar í fjölmiðlum (new page,not in menu yet)
http://piratar.is/um-pirata/fyrir-fjolmidla/piratar-i-fjolmidlum/

Needs to display the news from the news category "í fjölmiðlum"

[2016-08-31 10:21] thorlaug opened #52 "News page look"
When news stories are published (news page) the headline is overlaying Einkennismynd on a semi-transparent background. Please make this black background have almost no opacity (be less transparent)

Some images make it currently hard to read the headline, a more solid background should fix that.

example
http://piratar.is/frettir/frettir/frambodslistar-i-rvk-n-rvk-s-og-sudvesturkjordaemi/

[2016-08-31 12:16] viktorsmari commented on #52
Duplicate? #43

[2016-08-31 15:41] thorlaug commented on #52
yes, same request for readable headlines

---

Þórlaug (Thora) Ágústsdóttir
gsm: +354 6998892
Twitter og skype @thorlaug

On Wed, Aug 31, 2016 at 12:16 PM, Viktor Smári notifications@github.com
wrote:

[2016-08-31 19:12] thorlaug opened #53 "Put a calendar icon in front of the calendar header on the front page"
Please make us a little purple calendar icon to put next to the link to the calendar on frontpage esp for mobile version

[2016-08-31 20:59] arnorb commented on #53
@thorlaug Something like this?

<img width="397" alt="screen shot 2016-08-31 at 20 58 59" src="https://cloud.githubusercontent.com/assets/2539132/18146179/d38a62a2-6fbd-11e6-8e8f-d560c0baca56.png">

[2016-08-31 21:29] thorlaug commented on #53
nákvæmlega fucking svona!!!

---

Þórlaug (Thora) Ágústsdóttir
gsm: +354 6998892
Twitter og skype @thorlaug

On Wed, Aug 31, 2016 at 8:59 PM, Arnor Bogason notifications@github.com
wrote:

[2016-08-31 21:37] arnorb commented on #53
@viktorsmari getur þú sett þetta inn? Mér sýnist að þetta sé plugin-tengt og þurfi að fara inn innan í wordpress bakendanum.

`<i class="fa fa-calendar"></i>` (passa að hafa bil fyrir aftan þetta) þyrfti þá að fara fremst í `<h2/>` í Viðburðadagatalinu.

[2016-09-01 09:50] viktorsmari opened #54 "Docker on Mac OS mysql connection error"
Starting piratardev_db_1
Starting piratardev_wordpress_1
Attaching to piratardev_db_1, piratardev_wordpress_1
wordpress_1  |
wordpress_1  | MySQL Connection Error: (2002) Connection refused"

[2016-09-01 10:03] andri opened #55 "Election page 2016 mockup"
Notes from meeting on August 31

Content and features needed:
- Kjördæmi/Frambjóðendur/Listar/Myndir
  - Mynd (Top)
  - Myndband (top 5)
  - Starfstitill
  - Texti
  - Linkur á blogg / kosningasíðu
- Píratar í fjölmiðlum (Grid af fréttum sem birtast í fjölmiðlum)
- Stefnuskrá (verið að leggja drög að)
- Karolina fund banner/linkur
- Hvernig á að kjósa / Kjörstaðir
- Fyrir fjölmiðla (Linkur á fjölm

[2016-09-01 10:03] viktorsmari commented on #53
Ég leitaði og fann ekki hvar þetta á að fara inn, @thorlaug má ekki græja aðgang fyrir @arnorb ?

[2016-09-01 10:10] andri commented on #55
@thorlaug hérna eru punktarnir sem ég skrifaði í gær. Ég nota þetta til að teikna mockup seinna í dag.

[2016-09-01 10:14] #23 closed, assigned to nobody

[2016-09-01 10:15] andri commented on #30
Merge with: #55

[2016-09-01 10:15] #30 closed, assigned to nobody

[2016-09-01 14:59] andri commented on #55
![img_2181](https://cloud.githubusercontent.com/assets/123914/18172164/e89c23e2-7053-11e6-9ff3-c1295d676e09.JPG)

**Kosniga undirsíða/forsíða**

Stefnumál og áherslur flokksins fyrir kosningar kemur efast. Þetta efni er í vinnslu svo við getum ekki hannað það svæði núna.

Næst koma top 5 frambjóðendur úr öllum kjördæmum og CTA takki til að skoða alla frambjóðendur (undir síða sem listar alla).

Sv

[2016-09-01 17:49] thorlaug commented on #55
Það vantar efst í lýsinguna að viðburðir linkur eða yfirlit þarf að vera með á forsíðu
og fréttir (annað en Píratar í fjölmiðlum)

Þriðji mögulegi fréttaflokkurinn eru greinar frá frambjóðendum annaðhvort inni á síðu kjördæmis eða tengill í greinar/blogg inni á síðu hvers frambjóðanda

[2016-09-02 11:53] thorlaug commented on #53
jú það finnst mér - @andri getur þú sett þetta á todolistann (og ef einhverjir fleiri þurfa að fá aðgang núna)

[2016-09-02 20:27] viktorsmari opened #56 "Hugmynd: setja t.d. border á dálkana til að fá meiri contrast?"
Hvað finnst ykkur um að setja einhvern border á dálkana til að þetta skeri sig aðeins meira úr?

![2016-09-02_1215x711](https://cloud.githubusercontent.com/assets/1689020/18217282/45d677ca-715c-11e6-8652-b4fa42732baa.png)

[2016-09-02 20:28] viktorsmari commented on #56
Þá helst dálkana sem eru gráir á hvítum bakgrunn. Óþarfi á fjólubláu dálkunum.
![2016-09-02_1282x664](https://cloud.githubusercontent.com/assets/1689020/18217367/a94b50dc-715c-11e6-8f2f-0d042d402433.png)

[2016-09-02 20:35] andri commented on #56
Ég myndir frekar taka þessa bordara og bakgrunninn út sko :)

On Fri, Sep 2, 2016 at 8:28 PM Viktor Smári notifications@github.com
wrote:

[2016-09-02 20:41] arnorb commented on #56
Já sammála Andra. Setja lárétt strik sem separator t.d.

[2016-09-03 06:30] viktorsmari commented on #56
Svo þið skiljið betur hvað ég meina, þá er mjög erfitt að sjá á skjánum mínum hvar gráu boxin enda og hvíti bakgrunnurinn byrjar:
Takið sérstaklega eftir neðri part myndarinnar:

![img_20160903_082753](https://cloud.githubusercontent.com/assets/1689020/18223228/87be84b2-71b0-11e6-93a0-b1abf32f52a7.jpg)

[2016-09-03 13:54] viktorsmari commented on #43
Ég lét bakgrunnin vera hvítari, bara svo þetta væri læsilegra.

[2016-09-03 16:24] viktorsmari commented on #55
Það er komið draft að þessari síðu fyrir innskráða hér:
http://piratar.is/kosningar/?page_id=38685&preview=true

[2016-09-06 02:18] thorlaug commented on #56
Looking good!

---

Þórlaug (Thora) Ágústsdóttir
gsm: +354 6998892
Twitter og skype @thorlaug

2016-09-02 20:27 GMT+00:00 Viktor Smári notifications@github.com:

[2016-09-12 11:18] arnorb opened #58 "Taka út gula litinn á forsíðu kosningavefs"
Það er bara alls ekki nógu mikill kontrast, þessi guli má bara nota á dökkum grunni og sparlega, ekki sem svona "burðar" fyrirsagnir.

Ég sé ekki betur en að þetta sé gert inní WordPress en ég er ekki kominn með aðgang ennþá.

[2016-09-12 11:19] arnorb opened #59 "Láta Arnór fá aðgang inn á WordPress"

[2016-09-12 15:27] andri commented on #59
@arnorb Búinn að bæta þér við. Fékkstu póst?

[2016-09-12 15:28] andri commented on #55
@viktorsmari hvernig stendur þetta issue? Hvað þarf að gera til að koma þessu út?

[2016-09-12 16:00] viktorsmari commented on #55
Varðandi myndir af frambjóðendum:
Ég HELD að þar sem frambjóðandalistinn er settur inn í WYSIWYG editor, þá er auðveldast að gera það sama með myndirnar. Þ.e. afrita myndir af efstu frambjóðendum inní editorinn.

[2016-09-12 16:03] viktorsmari commented on #55
By default þá myndi það líta svona út:
![2016-09-12_337x375](https://cloud.githubusercontent.com/assets/1689020/18442985/2d5be810-7913-11e6-8b73-671eebb97856.png)

[2016-09-12 16:19] andri commented on #55
@viktorsmari, núna eru þau að taka nýjar myndir fyrir top 5. Væri ekki best að hafa custom field fyrir myndirnar? Það væri amk þægilegast uppá framhaldið.

[2016-09-12 16:29] arnorb commented on #59
Ójá!

[2016-09-12 16:30] arnorb commented on #55
Hér væri tilvalið að hafa smá margin undir myndinni, þó ekki væri nema 10 eða 20px.

[2016-09-12 17:27] baldurjonsson commented on #31
The mobile menu should also hide when the viewport is expanded.
For example: Turning á highres tablet 90° or manually dragging a browser windows on a desktop.

![image](https://cloud.githubusercontent.com/assets/3398226/18445638/0dbd9062-790e-11e6-8b5e-d061291afdf4.png)

[2016-09-12 19:07] arnorb commented on #59
@andri Ég þarf að fá aukna notendaheimild. Það eina sem ég get gert núna er að setja inn notandaupplýsingarnar mínar.

[2016-09-12 20:21] andri commented on #59
@arnorb Ætti að vera komið núna!

[2016-09-12 20:21] #59 closed, assigned to andri

[2016-09-18 17:01] busla opened #60 "Hero texti útfyrir viewport á forsíðu í mobile"
iPhone 6+
Safari

![image](https://cloud.githubusercontent.com/assets/3162968/18617545/8a57685c-7dc1-11e6-86ad-27bf944318a1.png)

[2016-09-18 17:02] busla commented on #60
Of langt orð, þarf að splitta því upp

[2016-09-18 17:41] busla opened #61 "Myndir skalast illa í fréttum [mobile]"
![image](https://cloud.githubusercontent.com/assets/3162968/18617767/201c69dc-7dc7-11e6-9dd5-d064e30d2562.png)

[2016-09-20 13:42] andri commented on #61
Erum að vinna í breytingum þessa vikuna sem munu laga allt svona vesen.

[2016-09-26 11:04] thorlaug opened #62 "Fundargerðir Framkvæmdaráðs"
Fundargerðir framkvæmdaráðs í sjálfvirki birtingu hér
http://piratar.is/um-pirata/bokhald-og-rekstur/framkvaemdarad/

þarna eiga að birtast fundargerðir í tímaröð, einhver villa núna sem birtir ekki fundargerðir júní, júlí, ágúst sem þó eru virkar inni í kerfinu.

Elections 2016 #Elections2016 #HighPriority

[2016-09-27 12:17] aerugo opened #63 "Uppfæra templates fyrir síður frambjóðenda"
Þegar maður googlar nafn frambjóðenda (dæmi: https://www.google.is/webhp?sourceid=chrome-instant&ion=1&espv=2&ie=UTF-8#q=Krist%C3%ADn+Vala+p%C3%ADratar) lendir maður á síðu sem er ekki með template.

[2016-09-27 19:15] thorlaug opened #64 "Mynd með einstakri frétt"
Sjá hvernig einkennismyndin með fréttinni birtist fyrir ofan meginmál:
http://piratar.is/frettir/frettir/raeda-birgittu-jonsdottir-i-eldhusdagsumraedum-althingis/

sleppa henni í meginmáli eða tengja betur efni

Kosningar 2016 #Kosningar2016

[2016-09-27 19:15] thorlaug opened #65 "Dagatalið vantar á forsíðu"
Viðburðadagatalið vantar á nýju forsíðuna

Kosningar 2016 #Kosningar2016

[2016-10-01 04:20] thorlaug opened #66 "Forsíðufréttir - archive / eldri fréttir vantar"
á forsíðuna vantar link undir fréttirnar sem vísar inn á news archive - sem hefur hingað til verið hér:

http://piratar.is/forsida/frettir/

þarna þarf að laga formattið á birtigunni á fréttalista líka
# Kosningar2016 Kosningavefur

[2016-10-01 12:50] thorlaug opened #67 "Birta fundargerðir á síðu"
Á þessari síðu um Framfarafundi Pírata
http://piratar.is/um-pirata/log-og-reglur/framfarafundir-pirata/

Þarna .arf að birta neðst lista af fundargerðum (svipað og á síðu framkvæmdaráðs) úr fundargrerða-flokknum Framfarafundir.

ATH að láta Þórlaugu vita til að setja inn meira efni

[2016-10-01 13:14] thorlaug opened #68 "Facebook fréttir frá Píratapartýið"
Setja upp einhverstaðar á smekklegan hátt fréttafeed af fb síðu Pírata

t.d.í hliðarspalta á síðunni 'allar fréttir' - ræðum frekar framkvæmd en þetta þarf að vera einhverstaðar á vefnum.

[2016-10-01 14:57] andri commented on #64
Þessi linkur virkar ekki, ertu með annað dæmi?

[2016-10-01 16:28] andri commented on #63
Fixed in branch Kosningar2016

[2016-10-01 16:28] #63 closed, assigned to nobody

[2016-10-01 16:28] andri commented on #58
Fixed indirectly

[2016-10-01 16:28] #58 closed, assigned to nobody

[2016-10-03 13:37] thorlaug opened #69 "Útlit - forsíða, frambjóðendabirting"
Forsíða, birting á frambjóðendum
skölun
þegar lúkkið skalast og ég minnka gluggann þá stækka myndirnar af frambjóðendum og hoppa í 2 línur, stækkunin á myndunum af frambjóðendunum virkar illa
# kosningar2016

[2016-10-03 13:40] thorlaug commented on #51
Birting á þessum fréttaflokk á forsíðu (+ eldri greinar)
Þetta er efni sem byggir mest á fyrirsögnum, lúkk með dóminerandi mynd gengur ekki, myndirðu setja þetta upp sem lista eða lúkk sem krefst ekki myndar.

[2016-10-06 14:26] baldurjonsson opened #70 "Valmynd ef að gluggi er minnkaður og stækkaður"
Hæhæ,
Ef að glugginn er minnkaður til helminga kemur mobile hamborgarinn, ef smellt er á hann og valmyndinni lokað og gluggi stækkaður aftur hverfur aðal valmyndin.

![image](https://cloud.githubusercontent.com/assets/3398226/19156196/9a0e584c-8bd0-11e6-9660-6d57271acfb6.png)

![image](https://cloud.githubusercontent.com/assets/3398226/19156223/accb3ef0-8bd0-11e6-9732-5118d0d21333.png)

![image](h

[2016-10-06 14:29] baldurjonsson opened #71 "Bókhald er svartur texti á svörtum bakgrunni"
Hæhæ,
Undir ártölunum í bókhaldinu sést ekkert en textinn er í markupinu, bakgrunnurinn er svartur og textinn er svartur.

http://piratar.is/um-pirata/bokhald-og-rekstur/bokhald/2014/

![image](https://cloud.githubusercontent.com/assets/3398226/19156354/2881ed3c-8bd1-11e6-95bf-2b19258623f5.png)

[2016-10-06 14:31] baldurjonsson commented on #71
Heyrðu nei, CSSið er að setja footerinn yfir contentið

[2016-10-06 14:33] baldurjonsson commented on #71
Hálflagast með að taka `position: relative` af footernum

![image](https://cloud.githubusercontent.com/assets/3398226/19156526/ba2597e8-8bd1-11e6-8b7b-f468b8988c4b.png)

[2016-10-06 15:47] andri commented on #70
Takk fyrir þetta. Fixed!

[2016-10-06 15:47] #70 closed, assigned to nobody

[2016-10-06 15:51] andri commented on #71
Fixed, öll template eru komið með nýjan strúktur og þessi síða var að nota gamla HTMLið. Fixed.

[2016-10-06 15:51] #71 closed, assigned to nobody

[2016-10-06 15:54] andri commented on #69
Þetta er eins og ég hannaði þetta. Þegar plássið minnkar er ekki hægt að vera með 5 nöfn í einni línu. Sérstaklega á mobile. Þetta er í raun bara á ipad sem þetta fer í fleiri línur og svo tveir frambjóðendur í línu á mobile.

[2016-10-06 15:54] #69 closed, assigned to nobody

[2016-10-06 15:55] andri commented on #66
Komið!

[2016-10-06 15:55] #66 closed, assigned to andri, thorlaug

[2016-10-06 15:55] andri commented on #66
http://piratar.is/frettir/

[2016-10-06 15:58] andri commented on #64
@thorlaug, vantar betri lýsingu á því hvað vandamálið sé.

[2016-10-06 15:59] andri commented on #61
Fixed indirectly.

[2016-10-06 15:59] #61 closed, assigned to nobody

[2016-10-06 15:59] andri commented on #60
Fixed indirectly.

[2016-10-06 15:59] #60 closed, assigned to nobody

[2016-10-06 16:00] #53 closed, assigned to nobody

[2016-10-06 16:00] #52 closed, assigned to nobody

[2016-10-06 16:00] #56 closed, assigned to nobody

[2016-10-06 16:01] andri commented on #49
DONE :D

[2016-10-06 16:01] #49 closed, assigned to nobody

[2016-10-06 16:01] andri commented on #43
Fixed indirectly.

[2016-10-06 16:01] #43 closed, assigned to andri

[2016-10-06 16:02] andri commented on #31
Fixed indirectly.

[2016-10-06 16:02] #31 closed, assigned to nobody

[2016-10-06 17:10] aerugo opened #72 "Setja inn meta fyrir facebook o.fl. á undirsíður"
Það er rangt thumbnail á Facebook.

Dæmi: Þegar http://piratar.is/kosningar/frambjodendur/ er sett á FB.

https://developers.facebook.com/tools/debug/sharing/?q=http%3A%2F%2Fpiratar.is%2Fkosningar%2Fframbjodendur%2F

[2016-10-06 17:11] aerugo opened #73 "Skipta um placeholdermynd þegar vantar mynd af frambjóðanda"
Þegar vantar mynd af frambjóðenda kemur mynd af ketti. Skiptum út í Píratamerkið.

[2016-10-06 18:25] aerugo opened #74 "VALMYMD á mobile"
Á mobile er typo, stendur "VALMYMD" við dropdown menu í efri horni.

[2016-10-06 20:16] andri commented on #74
Takkað lagað!

[2016-10-06 20:16] #74 closed, assigned to nobody

[2016-10-06 20:16] andri commented on #73
Hvað er Píratalegra en sætur köttur??! :)

[2016-10-06 21:31] thorlaug commented on #62
Þessi fundargerð birtist svört

http://piratar.is/fundargerdir/framkvaemdarad/fundur-framkvaemdarads-6-september-2016/

[2016-10-06 22:06] arnorb commented on #72
Spurning um að setja upp metaplugin svo það sé hægt að skilgreina betur hvaða myndir og texta facebook sækir. Yoast SEO heitir eitt, svo var annað sem ég man ekki hvað heitir en ég man ekki hvort er meira notað.

[2016-10-07 11:27] BergthorTh commented on #72
meta er skilgreint fyrir aðalsíðuna piratar.is en virðist ekki vera það fyrir undirsíðurnar. Þá virðist hafa orðið eftir kóði frá prófkjörshamnum í undirsíðunum sem skilar sér í undarlegu description ef undirsíður er deilt beint. Sbr. mynd:
![screenshot 2016-10-07 11 26 07](https://cloud.githubusercontent.com/assets/18063578/19188406/03f0f0ca-8c81-11e6-9bd4-b99b9ca4643f.png)

[2016-10-07 11:33] BergthorTh opened #75 "meta tags vantar á undirsíðum"
Meta tags virðast ekki vera skilgreind á undirsíðum heldur bara á forsíðu. Þá virðist hafa orðið eftir kóði frá prófkjörshamnum á undirsíðunum. Það ásamt skorti á meta tags skilar sér í óheppilegu description þegar undirsíðu er deilt beint. Sjá mynd:
![screenshot 2016-10-07 11 26 07](https://cloud.githubusercontent.com/assets/18063578/19188544/e1de1386-8c81-11e6-814a-70695a24bed8.png)

[2016-10-07 12:51] arnorb commented on #75
Loka þessu því #72 fjallar um sama vandamál.

[2016-10-07 12:55] #75 closed, assigned to nobody

[2016-10-07 16:00] arnorb commented on #73
Ég hef ekki séð þessa kattamynd en myndi leggja til að í staðinn fyrir að vera að stimpla píratamerkinu út um allt sem placeholder að nota frekar hlutlaust avatar-icon eins og fa-user úr fontawesome.

[2016-10-07 16:02] arnorb opened #76 "Síðufótur hylur efni á síðum"
Dæmi: http://piratar.is/?s=r%C3%A6%C3%B0a+birgittu+j%C3%B3nsd%C3%B3ttur

[2016-10-07 16:04] arnorb commented on #76
Stakar fréttir líka t.d. hér http://piratar.is/piratar-a-thingi/thingflokkur-pirata/ur-raedustol/raeda-birgittu-jonsdottur-um-vantraust-a-rikisstjornina/

[2016-10-07 16:31] #51 closed, assigned to andri, thorlaug

[2016-10-07 16:33] arnorb commented on #76
Líka hér http://piratar.is/um-pirata/log-og-reglur/urskurdarnefnd/

[2016-10-10 23:21] thorlaug opened #77 "Einkennismynd birtist ekki"
Þessi síða birtir ekki valda einkennismynd
http://piratar.is/piratar-a-thingi/thingflokkur-pirata/ur-raedustol/
# kosningar2016 #vefur2016

[2016-10-10 23:28] thorlaug commented on #77
Einkennismynd birtist ekki hér (engir íslenskir stafir í nafni)
http://piratar.is/piratar-a-thingi/thingfolk/

[2016-10-10 23:29] thorlaug commented on #77
Sama vandamál hér

http://piratar.is/piratar-a-thingi/thingfolk/birgitta-jonsdottir/
http://piratar.is/piratar-a-thingi/thingfolk/helgi-hrafn-gunnarsson/
http://piratar.is/piratar-a-thingi/thingfolk/asta-helgadottir/

http://piratar.is/piratar-a-thingi/frettir/

[2016-10-10 23:33] thorlaug opened #78 "Síða aðildarfélags - laga birtingu"
Síða aðildarfélags t.d. Reykjavík
http://piratar.is/reykjavik/

Formaður - minnka myndina umtalsvert
Birta titil gjaldkera og ritara + annað sem hakað er í.

Leyfa að stjórn innihaldi 3-9 manns í birtingu  til að templeitið virki til að birta allt frá trúnaðarráði með 3 manns upp í framkvæmdaráð með 9 meðlimi
# kosningar2016 #vefur2016

[2016-10-10 23:37] thorlaug opened #79 "Event feed frá Píratapartýið"
það eru mun fleiri viðburðir að koma frá flokknum á fb, sér í lagi frá aðildarfélögum. Það væri ideal að fá feed af Píratapartýið Events inn á viðburðasíðuna sem inniheldur lista af viðburðum.

http://piratar.is/taka-thatt/vidburdir/
# kosningar2016 #vefur2016

[2016-10-10 23:41] thorlaug opened #80 "Flokksfólk 'síður' birtast ekki. Priority: High"
Síður sem eiga að birta upplýsingar um fólk í stjórnum úr kerfinu Flokksfólk birtast ekki, sjá hér

http://piratar.is/flokksfolk/vestfirdir/olof-maria-jonsdottir/
# kosningar2016 #vefur2016

Priority: High

[2016-10-11 00:37] arnorb commented on #80
Issue #76 er safn af síðum með sama vandamál.

[2016-10-12 21:19] #76 closed, assigned to nobody

[2016-10-12 21:19] andri commented on #80
Fixed

[2016-10-12 21:19] #80 closed, assigned to andri, thorlaug

[2016-10-12 21:20] andri commented on #77
Ætti að vera komið í lag núna. Notar sama template og fréttir.

[2016-10-12 21:20] #77 closed, assigned to nobody

[2016-10-12 21:32] andri commented on #73
Fixed

[2016-10-12 21:32] #73 closed, assigned to nobody

[2016-10-14 21:08] thorlaug opened #81 "Scaling á mynd af frambjóðanda"
laga scaling á frambjóðendamyndum, þetta gerist þegar browser glugginn er minnkaður
<img width="1167" alt="screen shot 2016-10-14 at 21 04 55" src="https://cloud.githubusercontent.com/assets/5758526/19402743/4707d7ee-9252-11e6-9309-763df3de8b58.png">

[2016-10-14 21:09] thorlaug commented on #81
eðlileg uppsetning til samanburðar
<img width="1195" alt="screen shot 2016-10-14 at 21 09 21" src="https://cloud.githubusercontent.com/assets/5758526/19402772/89d4044e-9252-11e6-8773-2162e7d8a5b1.png">

[2016-10-21 10:47] busla opened #82 "Discourse: social-auth með Twitter virkar ekki"
Finn engan issue tracker fyrir discourse.piratar.is þannig að ég set þetta hér. Þið komið þessu áleiðis:

Get ekki loggað mig inn á discourse með Twitter:

<img width="1276" alt="screen shot 2016-10-21 at 10 44 55" src="https://cloud.githubusercontent.com/assets/3162968/19595944/bdc07cd2-977b-11e6-8f16-2d1611a31af8.png">

[2016-10-21 14:38] andri commented on #81
Þetta á að vera svona svo að myndirnar og nöfnin passi á minni skjám.

[2016-10-21 14:38] #81 closed, assigned to nobody

[2016-10-21 14:47] andri commented on #72
Búinn að setja upp Yoast plugin og default Open Graph mynd.

[2016-10-21 14:48] #72 closed, assigned to nobody

[2016-10-21 14:48] #64 closed, assigned to andri, thorlaug

[2016-10-21 14:49] #55 closed, assigned to andri

[2016-10-21 14:51] andri commented on #42
Fixed indirectly.

[2016-10-21 14:51] #42 closed, assigned to nobody

[2016-10-22 17:50] thorlaug commented on #64
þetta var lagað með betri mynd

[2016-10-22 17:52] thorlaug opened #83 "Einkennismynd birtist ekki"
Í sumum auka-templeitum birtist ekki einkennismynd síðu, t.d. hér birting á fréttaflokknum úr ræðustól

http://piratar.is/piratar-a-thingi/thingflokkur-pirata/ur-raedustol/

[2016-10-22 17:54] thorlaug commented on #62
Þetta vandamál er enn til staðar á þessari síðu
http://piratar.is/um-pirata/bokhald-og-rekstur/fundargerdir/

[2016-10-22 18:10] thorlaug commented on #81
raðmöguleikinn 4 frambjóðendur kemur aldrei upp í sköluninni þannig að myndirnar með 3 frambjóðendum í röð verða óeðlilega stórar þegar browserglugginn er minnkaður/stækkaður eða paddinum flippað, það er eins og hoppið sé bara á milli 3 eða 5 í röð en 4 í röð lúkkar betur á sumum skjám.

[2016-10-22 18:12] thorlaug opened #84 "Svartar síður"
Þessi síða er svört/birtist ekki á vefnum

http://piratar.is/um-pirata/bokhald-og-rekstur/framkvaemdarad/framkvaemdarad-fyrri-ara/

hún er í Fundargerðir fyrri ára templeitinu
# HIGHpriority

[2016-10-23 05:55] thorlaug opened #85 "Linka á fb. events Pírata"
1. Viðburðadagatalssíðan
   piratar.is/vidburdir
   þarf að innihalda (einhverstaðar smekklega) link inn á: Viðburðir Pírata á Facebook
   https://www.facebook.com/Piratar.Island/events/
2. Events af Facebook inn á vefinn
   við þurfum að finna einhverja góða leið til að birta viðburðina af Facebook inn á piratar.is, það er mun meira af viðburðum á fb og of mikil vinna við að vakta og handslá þett

[2016-10-23 16:29] thorlaug opened #86 "Birting á Event mynd"
Event place leggst undarlega yfir Einkennismynd viðburðar (leggst líka svona yfir texta ef engin einkennismynd er skilgreind)

<img width="1102" alt="screen shot 2016-10-23 at 16 27 12" src="https://cloud.githubusercontent.com/assets/5758526/19627733/c1e37e2c-993d-11e6-9973-61a628a3c315.png">

[2016-10-26 07:10] thorlaug commented on #62
félagsmenn farnir að kvarta yfir að fundargerðirnar vanti

[2016-10-26 07:40] thorlaug opened #87 "Fasi 1 1/2 - WP Permissions á Piratar.is og /kosningar"
Það þarf að laga réttindin á WP notendahópum fyrir vefinn
(núna hafa Editors og Contributors nær engin réttindi og allir þurfa að fá admin til að laga stafsetningarvillur í eventum og fréttum)

_Editors_ - þurfa að geta editerað existing fréttir, event, síður, flokksfólk, frambjóðendur (allt content, ekkert system). Hópmeðlimir: framkvæmdastjóri, framkvæmdaráð, starfsfólk þingflokks ofl.

_Contrib

[2016-10-26 08:18] thorlaug opened #88 "Overlay á Framtíðarsýn"
hliðarmenuinn leggst aðeins yfir einkennismyndina á þessari síðu

http://piratar.is/kosningar/framtidarsyn/

<img width="968" alt="screen shot 2016-10-26 at 08 15 38" src="https://cloud.githubusercontent.com/assets/5758526/19718423/b89ba2fe-9b54-11e6-8d52-6fbe04176cbc.png">

[2016-10-30 14:46] thorlaug commented on #83
1. Á þessari síðu birtist einkennismynd ekki
   http://piratar.is/um-pirata/bokhald-og-rekstur/bokhald/
2. Myndatexti með mynd vantar í css - sjá sér issue fyrir birtingu á myndum og skjölum.

[2016-10-30 14:52] thorlaug opened #89 "Innsetning/birting skjala - linka á fæl"
1. Innsetning skjala setur inn EMBED kóða á skjali en default þarf að vera linkað á skjalið (s.s. pdf) sem default birtingarform skjala
2. embed valmöguleikinn þarf enn að vera til staðar til notkunar þegar það á við í dropdowninu

Óvanir notendur geta núna ekki sett inn linka á skjöl (t.d. vísun á leiðbeiningar eða fundargerðir) efnið birtist default sem embed á síðunni sem ruglar öllu layouti. G

[2016-10-30 14:54] thorlaug opened #90 "Innsetning mynda / Myndbirtingar"
Það vantar möguleika til að birta myndir með myndatexta í cssið - sjá dæmi hér http://piratar.is/um-pirata/bokhald-og-rekstur/bokhald/

sjá hér
<img width="1044" alt="myndatextiasidu" src="https://cloud.githubusercontent.com/assets/5758526/19837376/c4d11f86-9eb0-11e6-8e5d-cbe8e122b70f.png">
<img width="1040" alt="myndatextiieditor" src="https://cloud.githubusercontent.com/assets/5758526/19837375/c

[2016-11-14 16:14] helgihg commented on #84
Fixed with commit: https://github.com/piratar/piratar.is/commit/554fdde43ed55ebe9315592eed85ab39a6d38156

[2016-11-14 16:15] helgihg commented on #84
Re-opening. Found more pages with the same bug: http://piratar.is/fundargerdir/framkvaemdarad/fundur-framkvaemdarads-6-september-2016/

[2016-11-14 17:14] helgihg commented on #84
Fixed with commit: https://github.com/piratar/piratar.is/commit/311283b56e86495f5e848c7f17a0f2b40413c201

(Hopefully for good, this time!)

[2016-11-14 17:14] #84 closed, assigned to helgihg

[2016-11-21 15:04] helgihg commented on #62
Fixed with commit 3dcb1f70dbfd691a9cb062ace345b5dc60a38600.

From commit comment:
IMPORTANT: Save-format of custom field "dagsetning_fundar" undir "fundargerdir" had to be changed from "dd/mm/yy" to "yy-mm-dd" and corresponding data had to be updated with the following SQL:

UPDATE wpir4t4r_postmeta
SET
    meta_value = STR_TO_DATE(meta_value, '%d/%m/%Y')
WHERE
    meta_key = 'dagsetning_fundar'

[2016-11-21 15:04] #62 closed, assigned to andri, thorlaug

[2016-11-21 17:09] helgihg commented on #90
Fixed with commit 5d30e90348fded437c13249f24183932b69b6bbb.

Note that styles themselves were not changed so that no special styling was added. Such modifications would be for another issue.

[2016-11-21 17:09] #90 closed, assigned to nobody

[2016-12-03 19:29] thorlaug opened #91 "Stefnumál Grunnstefna birtist ekki"
Þessi síða kemur upp á google http://piratar.is/stefnumal/grunnstefna-pirata/

og á að innihalda grunnstefnuna okkar / vísa á samþykkta grunnstefnu á x.piratar.is

En þess í stað birtist ekkert.
Hér þarf að laga stefnumálið þannig að það vísi áfram.

[2016-12-03 19:30] thorlaug commented on #91
Sjá hér yfirlit um stefnumál á piratar.is - hver linkur forwardast á x.piratar.is
http://piratar.is/stefna/stefnumal/
**NB** - linkurinn neðst á grunnstefnuna virkar á þessari síðu.

[2016-12-03 19:45] thorlaug commented on #91
Mér skilst að þetta sé að gerast með mörg stefnumál og einfaldast að leysa þetta því bara með því að undanskilja þessar tómu síður með því að breyta robots skjalinu
- eða með því að láta þessar síður vera til sem síður og hafa inni á þeim link inn á stefnumálin á x.piratar.is. Second og third opinion appreciated!

[2016-12-16 16:44] NoiKristinsson opened #92 "Stefnumál Reykjavíkur"
Stefnumál Reykjavíkurborgar er ekki lengur til á vefsíðunni, né stefnu mál nokkurra sveitastjórna.
Þetta var áður til líkt og má sjá hér og engin sýnileg leið til að bæta þessu við:
https://web.archive.org/web/20160421054151/http://www.piratar.is/sveitarstjorn/reykjavik/stefnumal/

[2016-12-17 10:11] thorlaug commented on #92
Content issue, ekki forritunarvilla. Það er hægt að leysa þetta af fólki í webeditors hónum með því að búa til síðu. Get aðstoðað þig við þetta ef þarf.

Uppfært: í vinnslu hér http://piratar.is/adildarfelogin/stefnumal-pirata-reykjavik/

[2016-12-17 10:19] thorlaug opened #93 "404 villur"
1. Láta 404 error villuna sækja efni á síðu svo það sé hægt að editera villuboðin úr WP efninu af editors.
2. Nýju villuboðin:

Þetta efni fannst ekki.

Það hefur mögulega færst til í nýlegum uppfærslum vefsins en er hægt að finna í gegnum leitarvélina hér efst til hægri á síðunni.

[2016-12-17 14:09] #92 closed, assigned to nobody

[2017-01-09 10:31] helgihg opened #94 "Neyða síðu til að vera alltaf yfir HTTPS"
Samkvæmt frétt:
http://www.techtimes.com/articles/12631/20140811/google-favors-encryption-https-sites-to-get-search-ranking-boost.htm

Google mun meta síður meira sem eru yfir HTTPS. Við erum ennfremur með virkt HTTPS nú þegar og það er engin góð ástæða fyrir því að leyfa HTTP umferð yfirhöfuð.

[2017-01-09 10:41] helgihg opened #95 "Minnka stærð mynda (í gagnastærð)"
Myndirnar af þingmönnum og frambjóðendum eru alltof stórar, fjölmörg megabyte þegar nokkrir tugir kílóbæta ættu að duga.

[2017-01-09 10:49] andri commented on #95
Ég fann einn stað þar sem þarf að nota smærri mynd:

http://piratar.is/kosningar/frambjodendur/jon-thor-olafsson/

Bakgrunnurinn þarna efst er að nota original myndina í staðin fyrir ákveðna stærð.

[2017-01-09 11:18] helgihg opened #96 "Uppfæra stefnu úr kosningakerfi sjálfkrafa eða vísa beint í kosningakerfi"
Stefnumálin virðast hafa verið tekin úr kosningakerfinu á ákveðnum tíma og sett inn hér:
http://piratar.is/stefna/stefnumal/

Stefnumálin uppfærast hinsvegar ekki sjálfkrafa. Betra væri ef þau annaðhvort uppfærðust sjálfkrafa (krefst væntanlega forritunarvinnu í kosningakerfi líka), eða ef tengill færi einfaldlega beint á samþykkt stefnumál í kosningakerfi.

[2017-01-09 11:42] helgihg commented on #91
Með hliðsjón af umfjöllun: http://smepals.com/google-panda/when-use-robots-txt-301-redirects-panda-seo-recovery

Ég bætti við svokallaðari 301-áframsendingu (sjá grein að ofan) í .htaccess skrána þannig að gamla slóðin endurkastar bæði notanda og leitarvélum á nýju slóðina. Komment fylgir .htaccess-línunni um að fjarlægja hana þegar leitarvélar hafa uppfært sína slóð og þegar 9. janúar 2016 er orð

[2017-01-09 11:42] helgihg commented on #91
Með hliðsjón af umfjöllun: http://smepals.com/google-panda/when-use-robots-txt-301-redirects-panda-seo-recovery

Ég bætti við svokallaðari 301-áframsendingu (sjá grein að ofan) í .htaccess skrána þannig að gamla slóðin endurkastar bæði notanda og leitarvélum á nýju slóðina. Komment fylgir .htaccess-línunni um að fjarlægja hana þegar leitarvélar hafa uppfært sína slóð og þegar 9. janúar 2016 er orð

[2017-01-09 11:42] #91 closed, assigned to helgihg

[2017-01-12 03:18] thorlaug commented on #94
#MediumPriority

[2017-01-12 03:19] thorlaug commented on #88
#MediumPriority

[2017-01-12 03:20] thorlaug commented on #86
Í bið - verður lagað með nýju útliti á kosningavef Pírata veturinn 2017

[2017-01-12 03:22] thorlaug commented on #79
Sameinað öðru issue um sama efni

[2017-01-12 03:28] #65 closed, assigned to andri, thorlaug

[2017-01-12 03:32] thorlaug opened #97 "Útlits og usability fix - Fasi II 2017"
# **Pages**
- [ ] Allar 2nd level síður (helst framkvæma sem valið sniðmót): Landing pages should display a list/grid of child pages if any.
- [ ] Breadcrumbs inn á 3rd level síður (&levels higher) í topp eða botn síðunnar (hönnuður/forritari ræða)
______
# **Forsíða**
## Headings
- [ ] Gera fyrirsagnir fallegri
- [ ] linka hverja fyrirsögn inn á viðeigandi síðu

## **Síðuhlutir/box**
- [ ] finna

[2017-01-12 03:53] thorlaug opened #98 "Stefnumál í kynningu og kosningu"
Forsíða

# Stefnumál Pírata / Stefna
http://piratar.is/stefna/stefnumal/

Á síðunni Stefnumál þurfa að vera automatically stefnumál í kynningu og kosningu úr kosningakerfinu. Þarf að vera fyrir ofan lista af nýsamþykktum málum.

Úr vefplani frá Má
Acitve elections/issues from Wasa2il
A section that shows the last X open votes and/or open elections from the Wasa2il system. Should also include a lin

[2017-01-12 04:01] thorlaug opened #99 "Leitarvélin á Piratar.is"
**Stilla í hverju leitarvélin leitar**

Leitarvélin

- [ ] á að birta sem default fyrir neðan niðurstöður texta af falinni síðu (in short gera editable úr wp í stað kóða)
Temporary efni síðunnar eru leitarleiðbeiningarnar, linkur inn á forsíðu og ábending um að kjörnir fulltrúar Pírata eru í símaskránni.

- [ ] á ekki að birta unpublished síður og fréttir
- [ ] á að birta niðurstöður úr flokksfólk

[2017-01-12 04:08] thorlaug commented on #95
er ekki hægt að festa eina bakgrunnsmynd fyrir alla frambjóðendurna og láta wp optimiza í fastar stærðir? Ideal væri að festa bara hlutföll og stærðir fyrir vefinn niður í ca 5 standard stærðir til að halda samræmi í útliti t.d. í fréttum, fólki og viðburðum

[2017-01-12 18:27] thorlaug commented on #96
#2 á listanum þann 12. jan (nema það sé þeim mun tímafrekara)
Sjá issue Stefnumál í kynningu og kosningu #98 - sama issue, reglulegt refresh/uppfærslur á stefnumálum af x.piratar.is

[2017-01-12 18:28] thorlaug commented on #89
#1 á forgangslistanum þann 12. jan 2017

[2017-01-15 21:37] helgihg commented on #87
Eiga Editor/Contributors ekki að geta sett inn nýtt efni?

[2017-01-30 20:58] baldurjonsson commented on #94
Það er hak í WP admin einhversstaðar sem breytir öllum linkum sem eru búin til með föllum í templeitum í https. Það redirectar líka allar beinar heimsóknir á http.
En það leysir ekki allar tilvísanir í myndir og aðra fæla sem eru í gagnagrunninum nú þegar. Það þyrfti að finna eða skrifa eitthvað fallegt sem uppfærir alla posts í gagnagrunninum.

[2017-02-15 10:24] baldurjonsson commented on #94
Hæhæ,
Ég legg til að þetta verði High Priority. Bæði v/ greinarinnar sem @helgihg linkar í en einnig er smá umfjöllun um þetta þessa dagana í nördahópum.

Mér sýnist síðan öll virka í https, getum við ekki byrjað á redirectinu, og ef eitthvað verður unsecure v/ eitthvað loadast yfir https lagað það í rólegheitunum?

@thorlaug

https://www.lappari.com/2017/02/ooruggir-vefir-lifeyrissjoda-stjornmala

[2017-02-20 22:00] hallakol commented on #98
Hugmyndin var að vera með yfirlit yfir stefnumál úr kosningakerfinu sem voru í kosningu. Einnig hægt að sýna nýlega samþykktar stefnur.
Þetta er til þess að
a) sýna almenningi að Píratar eru með aktíva grasrót
b) vekja betur athygli grasrótar á því hvaða mál eru í kosningu hverju sinni. Aðrar mögulegar boðleiðir eru tölvupóstur, samfélagsmiðlar og fuglabjargið. Spurning með hvað er viðeigandi.

[2017-02-22 11:29] thorlaug commented on #94
Björn Thor virkjaði þetta fyrir okkur.

[2017-02-22 11:29] #94 closed, assigned to nobody

[2017-03-30 20:32] baldurjonsson commented on #99
má alveg við bæta að það birtist ekki úr hvaða category leitarniðurstaðan er sótt í núverandi layouti.

Meðfylgjandi mynd: fyrri leitarniðurstaðan er fundargerð, seinni er viðburður.
![image](https://cloud.githubusercontent.com/assets/3398226/24524919/df5e2120-1587-11e7-92f6-13d882c6ef9a.png)

[2017-04-11 13:18] baldurjonsson commented on #85
Hey, eigum við ekki bara að kaupa extensionið við Event Pluginið til að láta þetta allt vera sjálfvirkt?

https://theeventscalendar.com/product/event-aggregator/

[2017-04-11 13:23] baldurjonsson commented on #87
Hæ, núna er það hægara sagt en gert að vera með eitthvað advanced ACL í Wordpress án þess að fá fyrir það Plugin, en mér sýnist þessi listi þinn ekki væra nægjandi, eins og @helgihg benti á að setja inn nýtt efni.
Afhverju eru ekki allir bara Editors, nema þeir séu algjörir viðvaningar og fái contributor, þá þarf samþykki admin/editor til að virkja breytingarnar þeirra.

![image](https://cloud.git

[2017-04-11 13:40] baldurjonsson commented on #89
Ég er ekki alveg að elta, er það ekki þannig að "Add document" embeddar, og "bæta við skrá" gefur þér bara link, sem maður stílar svo til?

![image](https://cloud.githubusercontent.com/assets/3398226/24911995/55e4c7e4-1ebc-11e7-94f1-0a017bda04c0.png)

[2017-04-11 16:12] baldurjonsson commented on #37
Allt hérna klárt, má endilega loka @thorlaug

[2017-04-11 16:17] baldurjonsson commented on #38
Er þetta ekki bara fínt eins og þetta er og má loka?

![image](https://cloud.githubusercontent.com/assets/3398226/24919196/62aa9682-1ed2-11e7-8beb-2fd39250441e.png)

[2017-04-11 22:27] thorlaug commented on #38
Frábært! nema leitarvélin ætti að segja "Leita aÐ úrskurði" :)

[2017-04-13 21:59] arnorb opened #100 "Implement custom css located in plugin to theme"
A css override was put into a plugin on the server but the CSS should all be in the theme.

This is the CSS:

[code]

It then needs to be removed from the plugin, located at Útlit->Edit CSS.

[2017-04-18 20:39] thorlaug opened #101 "Bókanir á húsnæði - form fyrir sjálfsafgreiðslu-beiðnir"
Setja upp form (tengja virkni í widgetinu) sem gerir félagsmönnum kleift að koma sjálf viðburðum inn í viðburðadagatalið með því að slá sjálf inn allar upplýsingar um fundinn í þartilgert form.

[2017-04-18 22:03] arnorb commented on #38
Ég er búinn að gera þessar breytingar á textanum og gera töfluna aðeins fallegri en það er pull request inni sem bíður þess að ég fái aðgang að servernum, eða að einhver annar samþykki breytingarnar og uppfæri þetta þarð.

[2017-05-11 21:20] baldurjonsson commented on #100
Bætti við smá viðbót, til þess að það sé auðveldara að lesa fundargerðir í mobile.

[code]

[2017-05-25 11:09] thorlaug opened #103 "Shortcuts xxx.piratar.is - create"
We need shortcuts for direct access to certain pages on piratar.is

vidburdir.piratar.is - goes to - piratar.is/vidburdir
akureyri.piratar.is
reykjavik.piratar.is
kopavogur.piratar.is
hafnarfjordur.piratar.is
sudurland.piratar.is
vesturland.piratar.is
nordurland.piratar.is
austurland.piratar.is
stefna.piratar.is
framkvaemdarad.piratar.is
log.piratar.is
tortuga.piratar.is
frettir.piratar.is

Vísa þ

[2017-06-25 15:13] thorlaug opened #104 "Snurfusa og gefa út pólskar síður"
Til KG og svo forritara
Í veftrénu er síða með pólsku innihaldi - það þarf að snurfusa efnið til m.t.t. readability og setja inn myndir, spurning hvort þetta á heima á einni síðu eða mörgum, efnið getur bæði verið ein eða sem móðursíða og börn - hvort heldur sem kemur betur út.
piratar.is/polski/
Svo þegar síðan lúkkar eðlilega þarf að gefa hana út og setja vísun í templeitið á PL á sama hátt og v

[2017-07-24 11:16] stjanigunnars commented on #104
![](https://github.trello.services/images/mini-trello-icon.png) [Setja upp Pólskar síður](https://trello.com/c/Hw2np059/11-setja-upp-p%C3%B3lskar-s%C3%AD%C3%B0ur)

[2017-07-24 11:23] stjanigunnars commented on #104
Sýnist þetta vera komið @thorlaug

[2017-07-24 11:23] #104 closed, assigned to nobody

[2017-08-23 18:41] thorlaug opened #105 "URGENT+IMPORTANT: Fix display error for Fundargerðir on Fundargerðir page"
CRITICAL ERROR FIX
1. Vinsamlega laga tvöfalda birtingu á fundargerðum á þessari síðu - og birta allar fundargerðir sem til eru í kerfinu og er hakað í fyrir Framkvæmdaráðs-fundargerðaflokkinn á bakenda

https://piratar.is/um-pirata/bokhald-og-rekstur/framkvaemdarad/
Uppfært: lagað, reyndist vera villa í innsetningu.

2. Vinsamlega birta allar fundargerðir í flokknum Framfarafundir á þessari síðu

[2017-08-25 11:56] thorlaug commented on #105
Viðbót eftir yfirferð

Þessi síða, Fundargerðir framkvæmdaráðs, er í framkvæmdaráðstempleiti og með lista af nýjustu fundargerðum neðst alveg eins og síðan Framkvæmdaráð (eitt og sama templeitið)
Birta fréttalista ársins neðst
https://piratar.is/um-pirata/bokhald-og-rekstur/fundargerdir/

Fyrir Archive - fundargerðir fyrri ára - hér er manual birting, fyrirhugað að birta eftir árum í FASA 2
https:

[2017-08-25 11:59] thorlaug commented on #105
in sum -
1. eitt framkvæmdaráðstemplate sem birtir lista af nýjustu fundargerðum neðst
2. eitt archive template sem birtir allar úr flokkinum, skipt upp milli ára

[2017-08-25 12:03] thorlaug commented on #96
AV: Taka þetta síðast af high priority málunum

[2017-08-25 12:05] thorlaug commented on #87
Við getum ekki notað þessa flokka því að réttindin eru í rugli inni í WP og leyfa editors og contributors mjög takmarkað að editera og contribjúta því sem þeir þurfa að miðla.
Ef við getum útvíkkað editor/contributor réttindin til að geta uppfært fréttir og event þá væri ekkert vandamál - en það virðist því miður ekki vera hægt og þ.a.l. eru allt of margir með allt of mikil réttindi.

[2017-08-25 12:10] thorlaug commented on #87
Það er líklega bara best að kaupa þetta plugin 👍 núna eru of miklar takmarkanir á editors og contributors í daglegri umgengni þar sem þarf að uppfæra event, félagssíður ofl.
Við bjóðum upp á hættu af hakki og óvart-eyðingum núna svo það væri best editors hefðu völd til að setja inn og uppfæra fréttir og events, flokksfólk, lög, fundargerðir og editera skilgreindar síður (stofn og greinar viðkomand

[2017-08-26 13:47] thorlaug opened #106 "Fréttir, birta archives"
Setja upp frétta archive fyrir aðildarfélög  - birta allar fréttir (fyrirsögn) og skipta einfaldlega upp eftir árum.
Setja t.d. fyrir neðan fréttirnar á þessari síðu link á "allar fréttir"
https://piratar.is/reykjavik/

Framsetning á fréttaarchive (display all):

2016
Dagsetning fréttar (lítið grátt/svart)
Fyrirsögn (linkur inn á full story page)

Dagsetning (lítið grátt/svart)
Fyrirsögn (linkur i

[2017-08-27 10:09] thorlaug opened #107 "Fréttir, laga myndir í template"
Myndir skalast undarlega í fréttabirtingu (aðalsíða fréttar)

Sjá gott dæmi hér neðst hvernig myndin teygist, hún er í lagi í editornum
https://piratar.is/um-pirata/log-og-reglur/adalfundur/

while at it í sama templeiti:
- laga of mikið bil frá fyrirsögn niður í einkennismynd fréttar og þaðan niður í meginmál (minnka vertical margin)
ef til vill
- bæta við í templeitið á efnissvæðið hægra svæði f

[2017-08-31 11:34] thorlaug commented on #107
![](https://github.trello.services/images/mini-trello-icon.png) [Fréttir laga myndir í template](https://trello.com/c/FkaGqIkS/12-fr%C3%A9ttir-laga-myndir-%C3%AD-template)

[2017-08-31 11:39] thorlaug commented on #93
![](https://github.trello.services/images/mini-trello-icon.png) [404 villur](https://trello.com/c/6o5oDLKF/13-404-villur)

[2017-08-31 11:48] thorlaug commented on #98
1. Það vantar feed úr kosningakerfinu með nýjustu málum (basic info, í kynningu/í kosningu, dags o.s.frv - Helgi Hrafn)
2. Veiða upp feedið og birta á stefnumálasíðu (sjá hér að ofan - vefforitari/Arnar Valur)

[2017-08-31 12:00] thorlaug commented on #67
fært inn í stærra mál

[2017-08-31 12:00] #67 closed, assigned to thorlaug

[2017-08-31 12:28] thorlaug commented on #99
![](https://github.trello.services/images/mini-trello-icon.png) [Leitarvél](https://trello.com/c/lLJ5fP08/14-leitarv%C3%A9l)

[2017-08-31 12:28] thorlaug commented on #98
![](https://github.trello.services/images/mini-trello-icon.png) [Stefnumál](https://trello.com/c/tAdXBC4n/15-stefnum%C3%A1l)

[2017-08-31 12:29] thorlaug commented on #96
![](https://github.trello.services/images/mini-trello-icon.png) [Stefnumál](https://trello.com/c/tAdXBC4n/15-stefnum%C3%A1l)

[2017-08-31 12:31] thorlaug commented on #103
![](https://github.trello.services/images/mini-trello-icon.png) [Create dns.piratar.is type shortcuts](https://trello.com/c/YawPW3FM/16-create-dnspirataris-type-shortcuts)

[2017-08-31 14:42] thorlaug commented on #106
![](https://github.trello.services/images/mini-trello-icon.png) [Fréttir, archives og tengingar](https://trello.com/c/z6OmOk4v/18-fr%C3%A9ttir-archives-og-tengingar)

[2017-08-31 14:42] thorlaug commented on #66
![](https://github.trello.services/images/mini-trello-icon.png) [Fréttir, archives og tengingar](https://trello.com/c/z6OmOk4v/18-fr%C3%A9ttir-archives-og-tengingar)

[2017-08-31 14:44] thorlaug commented on #36
![](https://github.trello.services/images/mini-trello-icon.png) [Fundargerðir, birting og archives](https://trello.com/c/PAwzgtrl/19-fundarger%C3%B0ir-birting-og-archives)

[2017-08-31 15:04] thorlaug commented on #87
![](https://github.trello.services/images/mini-trello-icon.png) [User Permissions á piratar.is](https://trello.com/c/XSBhBmO7/20-user-permissions-%C3%A1-pirataris)

[2017-08-31 15:10] thorlaug commented on #85
![](https://github.trello.services/images/mini-trello-icon.png) [Facebook Events á piratar.is](https://trello.com/c/N34SNlpk/21-facebook-events-%C3%A1-pirataris)

[2017-09-05 13:04] helgihg commented on #98
Er ekki miklu betra að hafa bara JSON?

Allavega, ég setti það inn á verkefnalistann í kosningakerfinu.

[2017-09-05 15:09] thorlaug commented on #98
Jú, þetta var blast from the past, endilega leysa á besta mögulegan hátt, hef fullt traust á því sem þú gerir :)

[2017-09-16 13:18] thorlaug opened #108 "Error - Menu display overlay"
Menu overlay fer í fokk í minnkuðum glugga (á Chrome og Opera)

<img width="1242" alt="screen shot 2017-09-16 at 13 28 14" src="https://user-images.githubusercontent.com/5758526/30512550-78d5e3cc-9ae1-11e7-82f7-e135389b897c.png">

[2017-09-17 21:48] hallakol commented on #108
Sjá skjáskot úr mobile.
Það þarf að birta mega-menuið sem lista í stað töflu í mobile.

![screenshot_20170916-131655](https://user-images.githubusercontent.com/883970/30525192-c6d9e9e0-9bf1-11e7-99fd-69549da72aee.png)
![screenshot_20170916-131836](https://user-images.githubusercontent.com/883970/30525191-c6d935a4-9bf1-11e7-97e9-6bfcf0cba048.png)

[2017-09-19 15:49] thorlaug opened #109 "Tengja Lög aðildarfélaga á aðildarfélagssíðum"
Á aðildarfélagssíðum eiga að birtast lög viðkomandi aðildarfélags
Haldið er utan um lögin í sérstöku lagakerfi sem heitir Lög Pírata

sjá t.d. https://piratar.is/adildarfelog/sudvesturkjordaemi/
Það þarf að tengja lögin úr lagakerfinu á aðildarfélagssíðum m.a. í Norðaustur og víðar

[2017-09-20 06:29] thorlaug opened #110 "Tengja úrskurði úrskurðarnefndar"
Á þessari síðu hafa dottið niður úrskurðir úrskurðarnefndar

https://piratar.is/um-pirata/log-og-reglur/urskurdarnefnd/

Tengja aftur, eru í úrskurðakerfi

[2017-09-20 11:30] thorlaug commented on #110
Búin að tengja!
Það vantar enn Archive virkni, þarf að læra að setja hana inni, þegar það er komð upp er máið frá.

[2017-09-22 06:17] ghost commented on #110
Kominn Archive takki fyrir neðan úrskurðarlistann.

[2017-09-25 19:00] #37 closed, assigned to nobody

[2018-10-19 21:13] viktorsmari opened #111 "Breyta aðalsíðunni piratar.is úr Wordpress yfir í Jekyll síðu"
Í Janúar 2018 gerði ég smá prufu að færa síðuna yfir í "statíska" Jekyll síðu, þar sem allur kóði og innihald er geymt í repo hér á Github. Ég hef persónulega verið að nota Jekyll mikið undanfarið og held að þetta væri mikið framfaraskref og muni einfalda umfang síðunnar.

* Sjá síðuna hér https://viktorsmari.github.io/piratar-jekyll
   * Þetta er bara eitthvað open source þema, lítið mál að velja

[2018-10-19 21:32] viktorsmari commented on #111
Ég reyndi að ræða þetta á facebook hópum en fékk lítil viðbrögð, ég ætla að freista gæfunnar hérna líka. @piratar/vefhopur @piratar/coders @stjanigunnars Hafiði skoðun á þessu?

[2018-10-22 08:17] viktorsmari opened #112 "log.piratar.is í sérstakt repo?"
Getum við látið lög Pírata í sérstakt repo?

Hvað er að aftra okkur frá því?

Hérna eru hugmyndir um að skipta henni niður í fleirri smærri einingar: https://github.com/piratar/kerfi.piratar.is/issues/5

[2018-10-22 13:34] beltiras commented on #112
Ég er með þá glóru í kollinum að lögum Pírata sé breytt með PR.  Það er langtíma verkefni.

[2018-10-22 16:49] helgihg commented on #112
Það er ekkert tæknilega því til fyrirstöðu, en það býr til þríverknað sem
núna er tvíverknaður. Annarsvegar eru lögin í kosningakerfinu og hinsvegar
uppfærð handvirkt á vefnum. Ef þetta er sett í git repo er hætta á því að
óljósara verði hver sé authoritative útgáfan, sem og hver ætli að viðhalda
því.

On Mon, Oct 22, 2018 at 8:40 AM Viktor Smári <notifications@github.com>
wrote:

[2018-10-22 18:11] viktorsmari commented on #112
1. Helst væri ég til í að sjá **log.piratar.is** sem væri einfaldlega static síða (t.d. Jekyll) á Github. Og aðalsíðan myndi bara vísa í þá síðu/repo (opnast í nýjum glugga) í staðinn fyrir að einhver þurfi að setja þetta handvirkt inní Wordpress.
2. Wordpress vefurinn gæti einnig sótt skjölin úr Github repoinu og renderað þau með enn einu plugininu eða kannski bara iframe eða slíku?
   * Þá gæti

[2018-10-22 18:33] beltiras commented on #112
Ég var með þá flugu í kollinum @helgihg að hægt væri að setja í lög Pírata að lagabreytingatillaga krefðist þess að gera PR.  Ef það snið er samskonar markdown/up/whatever og vefurinn notar þá er þetta framkvæmt bara einu sinni.  Ég átta mig á að það þarf að berjast fyrir þessari breytingu og það verður ekkert auðvelt.

[2018-10-22 19:26] viktorsmari commented on #112
4. Hver er ábyrgur fyrir því að færa úr kerfinu og á Wordpress síðuna?
5. Er hægt að láta kosningakerfið keyra scriptu sem pushar git commit á Github repo?
   * Það er hægt að búa til "deploy user" á Github og afrita ssh lykil á production serverinn sem hefur þessi réttindi, að pusha jafnvel á tiltekið branch

[2018-10-23 10:59] helgihg commented on #112
4. Ég veit það ekki. Hef bara tekið eftir því að einhver hefur passað að
það sé uppfært. Væntanlega er það framkvæmdaráð eða framkvæmdastjóri.

5. Það er alveg hægt að láta kosningakerfið keyra git-skipun, jájá, en
það er ekki nóg til að setja lögin og lagabreytingar í git. Fleiri en
ein breyting á lögum geta verið í atkvæðagreiðslu yfir langan tíma og
ekki er þá ljóst fyrirfram hvaða breyting nái

[2018-10-23 11:08] viktorsmari commented on #112
Github er núna komið með mjög flotta verkferla eins og að neyða X marga til að gera review til að samþykkja PR ofl. **Sjá mynd:**
![2018-10-23_13-03-35](https://user-images.githubusercontent.com/1689020/47356361-1fc8fd80-d6c4-11e8-8e74-f4e4e313509b.png)

Ef okkur er alvara með að gera ferlið betra, ættum við þá að gera tilraun með þetta í prufu-repoi?

[2018-10-24 18:35] viktorsmari commented on #112
Þá held ég að besta byrjunin sé að:
* Sá starfsmaður sem er ábyrgur fyrir að færa lagabreytinguna inná Wordpress svæðið, færi það í staðinn inn í Git repo.
* Ekki þarf að gera neitt við kosningakerfið.
* Aðalvefsíðan mun þá bara rendera úr repoinu.

Búið.

[2018-10-25 10:14] helgihg commented on #112
Já, mér finnst það góð hugmynd, en hættan er sú að sá aðili sem uppfæri
vefinn sé ekki tæknimaður. Er hægt að gera það nógu einfalt til að
manneskja með *mjög* litla tölvuþekkingu geti sinnt því? Eða værir þú
til í að sjá um það? Hættan er sú að tölvunördar séu ekki tiltækir þegar
á þarf að halda. Það er reyndar rót stórs hluta vanda okkar almennt.

Það þyrfti a.m.k. að skrifa mjög nákvæmar og auð

[2018-10-25 10:58] viktorsmari commented on #112
Þetta er í raun bara copy paste í eitthvað tiltekið skjal í vefumhverfi á Github. Engar skeljaskipanir eða neitt þannig. Að mínu mati jafnvel auðveldara en að setja þetta inní Wordpress.

1. Velja rétt skjal í repoinu
2. Ýta á blýantinn lengst til hægri (edit)

![2018-10-25_12-55-31](https://user-images.githubusercontent.com/1689020/47495763-49655e80-d855-11e8-922f-097bdf663ff1.png)

3. Paste

4.

[2018-11-01 11:07] viktorsmari commented on #112
Þetta er komið, en núna þarf helst að fjarlægja lögin af aðalsíðunni og benda frekar á log.piratar.is, svo við séum ekki að viðhalda lögunum á 2 stöðum.

[2018-11-01 11:12] viktorsmari commented on #103
Tengist: https://github.com/piratar/kerfi.piratar.is/issues/5

[2020-03-25 18:06] #100 closed, assigned to nobody